.main {
    display: flex;
}

.column {
    flex: 70%;
    padding: 10px 20px;
    
    border: 1px solid grey;
}

header {
    display:block;
    color:white;
    background-color: black;
    height:100px;
}


#sidebar {
    flex: 25%
}

.title {
    text-decoration: none;
    color:white;
}

.title:hover {
    text-decoration: underline;
}
